 :root {
        --color-white: #e9e9e9;
        --color-black-1: #212b38;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .omkar {
        width: 100%;
        height: 100vh;
    }


    body {
        font-family: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: antiquewhite;
    }

    .logo {
        color: var(--color-white);
        font-size: 25px;


    }


    .menu-bar {
        background-color: rgb(43, 86, 113);
        height: 100px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        display: flex;
        padding: 0 5%;
        position: relative;
        position: fixed;
    }

    .menu-bar ul {
        list-style: none;
        display: flex;
    }

    .menu-bar ul li {
        /* width: 120px; */
        padding: 10px 30px;
        /* text-align: center; */

        position: relative;
    }

    .menu-bar ul li a {
        font-size: 20px;
        color: var(--color-white);
        text-decoration: none;
        transition: all 0.3s;
    }

    .menu-bar ul li a:hover {
        color: yellow;
    }

    .fas {
        float: right;
        margin-left: 10px;
        padding-top: 3px;
    }

    /* dropdown menu style */
    .dropdown-menu {
        display: none;
    }

    .menu-bar ul li:hover .dropdown-menu {
        display: block;
        position: absolute;
        left: 0;
        top: 100%;
        background-color: #212b38;
    }

    .menu-bar ul li:hover .dropdown-menu ul {
        display: block;
        margin: 10px;
    }

    .menu-bar ul li:hover .dropdown-menu ul li {
        width: 150px;
        padding: 10px;
        border: 2px solid lightgreen;
    }

    .dropdown-menu-1 {
        display: none;
    }

    .dropdown-menu ul li:hover .dropdown-menu-1 {
        display: block;
        position: absolute;
        left: 150px;
        top: 0;

    }


    .hero {
        height: calc(100vh - 80px);
        background-image: url(./bg.jpg);
        background-position: center;
    }

    .log {
        font-size: 40px;
    }

    .btn {

        width: 100px;
        height: 7vh;
        font-size: 20px;
        font-weight: 600;
        background-color: rgb(155, 202, 83);
        border: 0.5px solid;
        cursor: pointer;

    }

    .contan {
        margin: 100px
    }



    .continer {
        position: relative;
        display: flex;
        justify-content: start;
        align-items: center;
        margin: 30px 100px;

    }

    .continer .drop {
        /* img  */

        width: 800px;
        height: 600px;
        box-shadow: inset 20px 20px 30px rgba(84, 81, 81, 0.05),
            25px 60px 20px rgba(8, 5, 5, 0.05),
            25px 60px 30px rgba(7, 3, 3, 0.05),
            inset -20px -40px 35px rgba(10, 7, 7, 0.9);

    }

    .drop {

        display: none;

    }

    .dropdown-menu ul li:hover .drop {

        display: block;
        position: absolute;
        left: 150px;
        top: 0;
        background-color: #212b38;
        cursor: pointer;
        border: 2px solid lightgreen;
    }



    .frontimg {
        width: 600px;
        height: 400px;
        margin: 200px;
        transition: 0.8s;
    }


    .frontimg:hover {
        transform: scale(1.1);
        cursor: pointer;
    }

    .other-section {
        width: 100%;
        height: 100vh;
        margin-top: 5%;
    }

    h2 {

        font-size: 35px;
        text-align: center;
        margin-bottom: 2%;

    }

    .boxes p {

        margin: 0px 200px;
        text-align: justify;
        text-indent: 50px;
        border: 4px solid black;
        padding: 20px;
        font-size: 20px;
        transition: 0.8s;
        border-radius: 10px;
        background-color: lightcoral;
    }

    .boxes p:hover {
        background-color: aliceblue;
        box-shadow: 0 0 20px 0 rgb(90, 83, 83);

        cursor: pointer;
    }


    section {
        width: 100%;
        height: 100vh;
        text-align: center;

    }

    .continer1 {
        display: flex;
        justify-content: space-around;
        align-items: center;

    }

    .box2 {
        border: 4px solid;
        box-sizing: border-box;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        width: 450px;
        font-size: 20px;
        height: 300px;
        margin: 5px;
        transition: 0.8s;
        border-radius: 10px;
        margin-top: 3%;
        background-color: whitesmoke;
    }

    .box2: {
        transform: scale(1.1);
        cursor: pointer;
        background-color: aliceblue;
        box-shadow: 0 0 20px 0 rgb(90, 83, 83);
        border: none;
    }



    .mytext {
        padding-top: 10px;

    }

    .contact {
        margin-top: 5%;
    }

    .addres {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        font-weight: bold;



    }

    img {
        width: 100px;
        height: 100px;
        padding-top: 10px;
        border-radius: 30px;
    }

    .footer {
        width: 100%;
        height: 100vh;
        background-color: grey;
    }

    .home {
        padding-top: 10rem;
        text-align: center;
        overflow-x: hidden;

    }


    .home h3 {
        color: var(--black);
        font-size: 70px;

        text-transform: uppercase;